.hero {
  padding-top: 630px;
  padding-bottom: 50px;
  position: relative;
  text-align: center;

  background: url(../images/hero@1x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-mini-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background: url(../images/hero@1x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @extend %CorporateA-700;
    font-size: 4.5rem;
    margin-bottom: 5px;
  }

  &::before {
    position: absolute;
    content: url(../images/icons/logo2.svg);
    width: 50px;
    height: 50px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__descr {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @extend %RobotoCondensed-400;
    font-size: 1.5rem;
    margin-bottom: 24px;
  }

  &__logo {
    margin: 0 auto;
  }

  @media screen and (width < 1200px) {
    padding-top: calc(330px + (630 - 330) * ((100vw - 300px)/ 900));
    padding-bottom: calc(10px + (50 - 10) * ((100vw - 300px)/ 900));

    &__title {
      font-size: 2rem;
    }

    &__descr {
      font-size: 1rem;
    }
  }
}