.premier {


  &__inner {
    display: flex;
    gap: 60px;
    align-items: center;
  }


  &__content img,
  &__content p:not(:last-child) {
    margin-bottom: 25px;
  }

  &__link {
    padding: 14px 5px;
    @extend %CorporateA-700;
    font-size: 1.125rem;
    color: var(--accent);
    border: 1px solid var(--accent);
    background: rgba(196, 196, 196, 0.00);
    text-align: center;
    text-transform: uppercase;
    @include transition ($transition-property: (color, border));

    &:hover {
      color: var(--shakespeare);
      border: 1px solid var(--shakespeare);
    }
  }


  @media screen and (width < 768px) {
    &__inner {
      flex-direction: column;
    }
  }

}